nav {
  display: flex;
  justify-content: space-between;
  width: 824px;
  margin: 0 10px;

  .link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    //font-size: 16px;
    font-size: clamp(0.688rem, 0.33rem + 0.558vw, 1rem); //16px
    padding: 0 6px;
    font-weight: 600;
    line-height: 19px;
    text-transform: uppercase;
    text-wrap: nowrap;

    &:last-of-type {
      padding: 0 0 0 6px;
    }
}
}

