nav {
  display: flex;
  justify-content: space-between;
  width: 824px;
  margin: 0 10px;

  .link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-transform: uppercase;
}
}

