.dropdown {
  position: relative;
}

.dropdown__button {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: clamp(0.688rem, 0.33rem + 0.558vw, 1rem); // 16px
  font-weight: 600;
  line-height: 19px;
  text-transform: uppercase;
  border: none;
  padding: 0;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

.dropdown__list {
  position: absolute;
  display: none;
  top: 30px;
  left: -32px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: white;
  width: 154px;
  border-radius: 7px;
  z-index: 3;
  transition: opacity 0.5s ease-in-out;

  li {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    margin: 0;
    padding: 6px 19px;
    z-index: 1;
    color: rgb(92, 57, 186);
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}

.dropdown__list_visible {
  display: block;
}

.closed {
  visibility: hidden;
  position: absolute;
  top: -3px;
  right: 52px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-image: url(../../images/menuList-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  z-index: 5;
}

.closed_active {
  visibility: visible;
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  background: black;
  z-index: 1;
}

.overlay_active {
  display: block;
  visibility: visible;
  opacity: 0;
}
